

body{
background-color:red;
 text-align: center; }

h1 {
text-align: center;
font-size: 300%;}

p{
background-color:powderblue; 
font-family: courier;
 text-align: center;}

 
#mypragraph:hover{
         color:red;
}
#mypragraph:hover + #mypragraphli{
	color: red;
	
}

